<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-Shortener</title>
</head>
<body>
    <h1>URL-Shortener</h1>
   
    <form method="post" action="/url">
        <label>Enter URL</label>
        <input type="text" name="url"placeholder="https://example.com">
        <button type="submit">Generate</button>
    </form>
    <div class="link-wrapper">
        <h3 class="link-text">Shortened Link</h3>
        
        <% if(locals.id){ %>
            <p><%= id %></p>
        <%  }%>
      
      </div>
    
</body>
</html>