<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign UP</title>
</head>
<body>
    <h1>Sign UP</h1>
    <form method="post" action="/user">
        <label>Enter Full Name</label>
        <input type="text" name="name" required>
        <label>Enter Email</label>
        <input type="text" name="email" required>
        <label>Enter Password</label>
        <input type="text" name="password" required>
        <button type="submit">SignUp</button>
    </form>
</body>
</html>